

* {
  font-family: 'suit', sans-serif;
}



.blex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  justify-items: center;
}

.blex-right {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  justify-items: flex-end;
}

.blex-left {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  justify-items: flex-start;
}

.blex-top {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  justify-items: center;
}

.blex-bottom {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: center;
  justify-items: center;
}

.blex-x-between {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  justify-items: center;
}

.blex-x-around {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  justify-items: center;
}

.blex-x-evenly {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  justify-items: center;
}

.blex-y-between {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  justify-items: center;
}

.blex-y-around {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  justify-items: center;
}

.blex-y-evenly {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  align-content: space-evenly;
  justify-content: center;
  justify-items: center;
}

.blex-between {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  justify-items: center;
}

.blex-around {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  justify-items: center;
}

.blex-evenly {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  align-content: space-evenly;
  justify-content: space-evenly;
  justify-items: center;
}




